progress[value] {
    appearance: none;
    width: 80%;
    height: 15%;
}

progress[value]::-webkit-progress-bar {
    background-color: #D1D1D1;
    border-radius: 20px;
}

progress.greencolor::-webkit-progress-value {
    background-color: #00AD56;
    border-radius: 20px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}

progress.orangecolor::-webkit-progress-value {
    background-color: #ff9718;
    border-radius: 20px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}

progress.graycolor::-webkit-progress-value {
    background-color: #D1D1D1;
    border-radius: 20px;
    background-size: 20px 15px, 100% 100%, 100% 100%;
}



.percentage {
    display: inline-flex;
    width: 45px;
}